.main-header {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-menu {
  display: flex;
  align-items: center;
  width: 131px;
  justify-content: space-evenly;
}

.logo {
  padding-left: 20px;
  cursor: pointer;
}

.header-menu__icons {
  cursor: pointer;
}

.header-menu__icons:hover {
  background-color: #bdbdbd46;
  border: none;
  border-radius: 15px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

.sidebar-icon .header-menu__icons {
  padding: 15px;
}
